Options -Indexes
AddOutputFilterByType DEFLATE text/html application/pdf

<IfModule mod_deflate.c>
	SetEnvIfNoCase Request_URI .(?:exe|t?gz|g?zip|bz2|sit|rar)$ no-gzip dont-vary
</IfModule>

RewriteEngine on
RewriteBase /
RewriteRule ^ index.php [QSA,L]
